@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model Web.App.Models.OrdenPago.OrdenPagoEditorModelo

<h4>Órden de Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Eliminar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ordenPago.IdOrdenPago" />

            <div class="form-group">
                <label asp-for="ordenPago.NombeBanco" class="control-label"></label>
                @Html.DisplayFor(model => model.ordenPago.NombeBanco)
            </div>

            <div class="form-group">
                <label asp-for="ordenPago.NombreSucursal" class="control-label"></label>
                @Html.DisplayFor(model => model.ordenPago.NombreSucursal)
            </div>

            <div class="form-group">
                <label asp-for="ordenPago.NombreEstadoPago" class="control-label"></label>
                @Html.DisplayFor(model => model.ordenPago.NombreEstadoPago)
            </div>

            <div class="form-group">
                <label asp-for="ordenPago.NombreMoneda" class="control-label"></label>
                @Html.DisplayFor(model => model.ordenPago.NombreMoneda)
            </div>

            <div class="form-group">
                <label asp-for="ordenPago.Monto" class="control-label"></label>
                @Html.DisplayFor(model => model.ordenPago.Monto)
            </div>
            <div class="form-group">
                <label asp-for="ordenPago.FechaPago" class="control-label"></label>
                @Html.DisplayFor(model => model.ordenPago.FechaPago)
            </div>
            <div class="form-group">
                <input type="submit" value="Eliminar" class="btn btn-info" />
                <input type="button" value="Cancelar" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "OrdenPago")'" />
            </div>
        </form>
    </div>
</div>